*{padding: 0;margin: 0;}
*{box-sizing: border-box}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}
ul,li{list-style: none}
a{text-decoration: none;color: inherit;}

body{
    font-size: 12px;
    line-height: 1.5;
}

/* layout */
.page{
    display: flex;
    height: 100vh;
}

.page > aside {
    width: 200px;
}

.page > main {
    flex-grow: 1;
}

/* aside */
.page > aside {
    display: flex;
    flex-direction: column;
}
.newSong {
    text-align: center;
    padding: 10px;
}
.songList {
    border-top: 1px solid #999999;
    flex-grow: 1;
}
.songList .active {
    background: #d4d4d4;
}
.songList > li {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

.uploadArea{
    text-align: center;
    padding: 30px 20px;
    border: 1px dashed #dddddd;
    border-radius: 4px;
}

.clickable{
    cursor: pointer;
}

